.destinations-title {
  margin-bottom: 46px;
}
.slider {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 24px;
  object-fit: cover; /** image compression view */
}
.country-card {
position: relative;
} /** for positioning the inscription */

.photo {
  height: auto;
  object-fit: cover;
  margin-right: 60px;
  border-radius: 16px;
}
/* .photo:hover, .photo:focus, .photo:active {
  transform: perspective(0.5cm) rotateX(-1deg) rotateY(1deg);
  transition: 0.2s;
} */
/** Just for experience */

.first-photo{
  margin-left: -540px;
}
.country-title {
  position: absolute;
  left: 15px;
  bottom: 40px;
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.country-first-title {
left: -540px;
}
.points {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.any-point {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
}
.any-point:hover, .any-point:active {
  width: 21px;
  height: 21px;
  background: rgba(242, 120, 92, 0.95);
}
.any-point:last-child {
  margin-right: 0px;
}
